doctype 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Twit Media Grid
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.8.2.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/lightbox.js')
  body
    .container
      block content
      footer(style='color: #fff; text-align: center;')
        p(style='font-size: 11px; line-height: 14px; margin-bottom: 40px')
          | Twit Media Grid can search up to ~10000 of most recent tweets of selected user<br />
          | and display their media. Current supported sources are twitter, twitpic, yfrog and instagram.<br />
          | <br />
          | Any issue ? Contact&nbsp;
          a(href='https://twitter.com/TwitMediaGrid') @TwitMediaGrid
        p
          | twitmediagrid &copy; 2012.&nbsp;
          a(href='http://phatograph.com') phatograph.com