doctype 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Twit Media Grid
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/images/favicon.ico', rel='shortcut icon')
    script(src='/javascripts/jquery-1.8.2.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/lightbox.js')
    script(src='/javascripts/piecon.js')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15209814-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    a(href="https://github.com/phatograph/mediagrid")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")
    .container
      h1(style='text-align: center; padding-bottom: 30px; color: #fff') Twit Media Grid
      div(style='color: #fff; text-align: center;')
        p(style='font-size: 13px; line-height: 14px; margin-bottom: 50px')
          | <strong>Update!</strong><br />
          | <br />
          | Twitter has brought their <a href="https://twitter.com/phatograph/media/grid">media grid</a> back!<br />
          | So I decided to open-source this project.
          | <a href="https://github.com/phatograph/mediagrid">Fork me</a>
          | if you like!
      block content
      footer(style='color: #fff; text-align: center;')
        p(style='font-size: 11px; line-height: 14px; padding: 0 40px 40px')
          | Twit Media Grid can search up to ~3200 of most recent tweets of selected user<br />
          | and display their media. Current supported sources are twitter, twitpic, yfrog and instagram.<br />
          | <br />
          | You can use direct link to display user's media,<br />
          | e.g. twitmediagrid.phatograph.com/phatograph.<br />
          | <br />
          | Any issue ? Contact&nbsp;
          a(href='https://twitter.com/phatograph') @phatograph
        p
          | twitmediagrid &copy; 2012.&nbsp;
          a(href='http://phatograph.com') phatograph.com