extends layout

block content
  h1(style='text-align: center; padding-bottom: 30px; color: #fff') Twit Media Grid
    small &nbsp;&nbsp;beta
  form.form-search#search(style='text-align: center; padding-bottom: 30px')
    input.search-query#name(type='text', style='margin-right: 10px')
    input.btn#submit(type='submit', value='search')
  ul.thumbnails#images
  .row(style='padding: 20px 0 30px; display: none')#progress_bar
    .span4.offset4
      .progress.progress-striped.active
        .bar
      p(style='text-align: center; font-size: 11px; color: #FFF;')

  script(src="/socket.io/socket.io.js")
  script
    $(function (){
      var socket    = io.connect();
      var now       = +(new Date());
      var submitted = false;

      Piecon.setOptions({fallback: 'force'});

      $('#name').focus();

      $('#search').submit(function (e) {
        e.preventDefault();

        if ($('#name').val() && !submitted) {
          submitted = true;

          $('#search input').prop('disabled', true);

          $('#progress_bar')
            .slideDown()
            .find('.bar')
              .removeClass('bar-danger')
              .css({ width: '1%' })
              .text('');

          socket.emit('data1', {
            room: now,
            username: $('#name').val()
          });
        }
      });

      socket.on('user_error', function (data) {
        //- $('#status').text(data);
        $('#progress_bar .bar')
          .addClass('bar-danger')
          .css({ width: '100%' })
          .text(data)
          .parent()
            .removeClass('active');
      });

      socket.on('processing', function (data) {
        //- $('#status').text(data);

        Piecon.setProgress(data.percentage);

        $('#progress_bar .bar')
          .css({ width: data.percentage + '%' })
          .parent().siblings('p')
            .text(data.tweet_count + ' tweets processed so far.');
      });

      socket.on('finished', function () {
        //- $('#status').slideUp();
        //- $('#progress_bar').delay(2000).slideUp(800);

        setTimeout(function () {
          Piecon.reset();

          $('#progress_bar .bar')
            .css({ width: '100%' })
            .text('Done!')
            .parent()
              .removeClass('active');
        }, 1000);
      });

      socket.on('data1_res', function (data) {
        var target = $('#images');
        var str = '';
        var html;

        $.each(data, function (i, status) {
          var current_date = new Date(status.created_at);

          if(status.entities.urls.length) {
            $.each(status.entities.urls, function (ii, url) {

              if (url.expanded_url.match(/twitpic.com/)) {
                var splitted = url.expanded_url.split('/');
                str += '<li class="span3"><a title="' + status.text + '" rel="lightbox" href="//twitpic.com/show/iphone/' + splitted[splitted.length - 1] + '" class="thumbnail"><img src="//twitpic.com/show/iphone/' + splitted[splitted.length - 1] + '" /><div class="caption"><p>' + status.text + '</p><p>' + current_date.toLocaleDateString() + '</p></div></a></li>';
              }

              else if (url.expanded_url.match(/yfrog.com/)) {
                str += '<li class="span3"><a title="' + status.text + '" rel="lightbox" href="' + url.expanded_url + ':tw1" class="thumbnail"><img src="' + url.expanded_url + ':tw1" /><div class="caption"><p>' + status.text + '</p><p>' + current_date.toLocaleDateString() + '</p></div></a></li>';
              }

              else if (url.expanded_url.match(/instagr.am/)) {
                str += '<li class="span3"><a title="' + status.text + '" rel="lightbox" href="' + url.expanded_url + 'media/?size=l" class="thumbnail"><img src="' + url.expanded_url + 'media/" /><div class="caption"><p>' + status.text + '</p><p>' + current_date.toLocaleDateString() + '</p></div></a></li>';
              }

            });
          }

          else if(status.entities.media) {
            $.each(status.entities.media, function (ii, media) {
              str += '<li class="span3"><a title="' + status.text + '" rel="lightbox" href="' + media.media_url + '" class="thumbnail"><img src="' + media.media_url + '" /><div class="caption"><p>' + status.text + '</p><p>' + current_date.toLocaleDateString() + '</p></div></a></li>';
            });
          }

        });

        html = $(str);
        target.append(html);
        html.hide().stop().fadeIn();
      });
    });
