extends layout

block content
  script(src="/socket.io/socket.io.js")
  script
    // var socket = io.connect('http://localhost:3001');
    var socket = io.connect();
    socket.emit('news0', 'a');
    socket.on('news1', function (data) {
      console.log('news1');
    });
    socket.on('news3', function (data) {
      console.log('news3');
    });
