@import 'bootstrap.css';
@import 'bootstrap-responsive.css';
@import 'lightbox.css';
body {
  padding: 40px 0;
  background-image: url("/images/bg.png");
  background-repeat: repeat;
}
h1 small {
  font-size: 14px;
  color: #fff;
}
ul#images li {
  height: 400px;
}
ul#images li .thumbnail {
  background-color: #fff;
}
ul#images li .thumbnail img {
  max-height: 300px;
}
ul#images li .thumbnail .caption {
  max-height: 55px;
  overflow: hidden;
  font-size: 11px;
  line-height: 14px;
  padding: 15px 0 5px;
  text-align: center;
}
a:hover,
a:active {
  text-decoration: none;
}
