@import 'bootstrap.css'
@import 'bootstrap-responsive.css'

body
  padding: 40px 0
  background-image: url('/images/bg.png')
  background-repeat: repeat;

ul#images li
  height: 300px
ul#images li .thumbnail
  background-color: #fff
ul#images li .thumbnail img
  max-height: 300px