body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.img-list img
  max-width: 640px
  max-height: 640px

ul#images
  overflow: hidden
ul#images li
  float: left
  margin: 0 10px 10px 0
  list-style-type: none
  font-size: 10px
  width: 100px
  height: 100px
  text-align: center
ul#images li img
  max-width: 100px
  max-height: 100px